<label>Book name:</label><br />
<input type="text" [(ngModel)]="bookName" /><br />
<label>Author:</label><br />
<input type="text" [(ngModel)]="bookAuthor" /><br /><br />
<button (click)="addBook()">Add Book</button>

<div *ngIf="isLoading$ | async" class="loading-indicator">
  Loading...
</div>

<div *ngIf="!(isLoading$ | async)" class="books-container">
  <div *ngFor="let book of books$ | async">
    {{ book.name }} -
    {{ book.author }}
    <button type="button" (click)="deleteBook(book.id)">Delete book</button>
  </div>
</div>

<h2>{{ bookName }} - {{ bookAuthor }}</h2>
